@import url('fonts/source_sans/stylesheet.css');
@import url('open-sans.css');
@import url('fonts/jfflat/jfflat.css');
@import url('fonts/jfflat/font-awesome.min.css');
 


body
{
    direction: rtl;
    font-family: "JF Flat Regular", 'Open sans', Tahoma;
}

.SVlabel
{
    font-family: "JF Flat Regular", 'Open sans', Tahoma;
}

.LoginTime
{
    font-family: 'Open sans', "JF Flat Regular", Tahoma !important;
}

@media (min-width: 480px)
{
    #menu-toggle
    {
        float: right !important;
    }
}

.navbar-brand
{
    float: right !important;
}

.navbar-toggle
{
    float: left !important;
}

#menu-toggle
{
    float: right !important;
}


#wrapper
{
    padding-left: inherit !important;
    padding-right: 0px;
}



    #wrapper.toggled
    {
        padding-left: inherit !important;
        padding-right: 300px;
    }

#sidebar-wrapper
{
    left: inherit !important;
    right: 300px;
    margin-left: inherit !important;
    margin-right: -300px;
}





#wrapper.toggled #page-content-wrapper
{
    margin-right: inherit !important;
    margin-left: -300px;
}





@media (min-width:768px)
{
    #wrapper
    {
        padding-left: inherit !important;
        padding-right: 300px;
    }

        #wrapper.toggled
        {
            padding-left: inherit !important;
            padding-right: 0px;
        }







            #wrapper.toggled #page-content-wrapper
            {
                position: relative;
                margin-right: inherit !important;
                margin-left: 0px;
            }
}

.sidebar-nav li a
{
    text-align: right !important;
}



    .sidebar-nav li a:hover:before, .sidebar-nav li a:active:before, .sidebar-nav li a.active:before
    {
        left: inherit !important;
        right: 0px;
    }


.menu-icon
{
    float: left !important;
}

    .menu-icon .fa-angle-right:before
    {
        content: "\f104" !important;
    }


h3
{
    background: url(../../assets/img/headingArrow_right.png) right 0px center no-repeat;
}

    h3 .HeaderText
    {
        text-align: right !important;
        padding-right: 10px;
    }

header .right-header
{
    float: left !important;
}

    header .right-header ul li:last-child img
    {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.Client-logo
{
    float: left !important;
    margin-left: 10px !important;
    margin-right: inherit !important;
}

.RadComboBox .rcbArrowCell a
{
    left: 10px !important;
    right: inherit !important;
}


h3 .HeaderText
{
    font-weight: 600 !important;
}

.horizondalMenu ul li a .SVlabel
{
    font-weight: normal !important;
}


span.menu-icon
{
    left: 20px !important;
    right: inherit !important;
}

.Svpanel h3
{
    padding: 6px 22px 6px 12px !important;
    background: url(../img/headingArrow_right.png) right 0px center no-repeat !important;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-8-5, .col-md-3-5
{
    float: right !important;
}

.Announcements h5 img
{
    padding-right: inherit !important;
    padding-left: 10px;
}

.Announcements .description a:after
{
    right: inherit !important;
    left: 0px;
}

.Announcements .description
{
    padding-left: inherit !important;
    padding-right: 11px;
}

.HomeMenu ul li a .SVlabel
{
    font-weight: normal !important;
}


.carousel-control
{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.horizondalMenu ul li a .SVlabel
{
    font-size: 13px !important;
}

.RadGrid_Hay .rgHeader a, .RadGrid_Hay th.rgResizeCol a
{
    font-weight: normal !important;
}

.HeaderText
{
    font-weight: normal !important;
}

.ui-radio input[type="radio"] + span:before, .ui-radio input[type="radio"] + label:before
{
    margin-left: 10px;
    margin-right: -20px;
}

.ui-radio input[type="radio"]:checked + span:after, .ui-radio input[type="radio"]:checked + label:after
{
    right: -15px;
    left: inherit !important;
}

.ui-checkbox input[type="checkbox"] + span:before, .ui-checkbox input[type="checkbox"] + label:before
{
    margin-left: 10px;
    margin-right: -20px;
}

.ui-checkbox input[type="checkbox"]:checked + span:after, .ui-checkbox input[type="checkbox"]:checked + label:after
{
    right: -15px;
    left: inherit !important;
}

.ui-checkbox input[type="checkbox"] + span, .ui-checkbox input[type="checkbox"] + label
{
    margin-left: 30px;
}

.RequiredFieldValidator
{
    margin-top: -39px;
    left: 18px;
}

.RadGrid .rgInfoPart
{
    float: left !important;
}

.RadGridRTL .rgInfoPart
{
    float: left !important;
}

.rgArrPart1 input[type="submit"]:first-child:first-child
{
    background-image: url(../../App_Themes/SvTheme/img/b2.png) !important;
}

.rgArrPart1 input[type="submit"]:nth-child(2)
{
    background-image: url(../../App_Themes/SvTheme/img/b1.png ) !important;
}

.rgArrPart2 input[type="submit"]:first-child:first-child
{
    background-image: url( ../../App_Themes/SvTheme/img/a1.png) !important;
}

.rgArrPart2 input[type="submit"]:nth-child(2)
{
    background-image: url(../../App_Themes/SvTheme/img/a2.png) !important;
}

.ui-radio td
{
    float: right !important;
    margin-right: 20px !important;
    margin-left: 34px !important;
}

.ui-radio
{
    position: relative;
    margin: 8px 0 0px 20px !important;
}

.ui-checkbox
{
    margin: 0px 0 10px 22px !important;
}

    .ui-checkbox input[type="checkbox"] + span, .ui-checkbox input[type="checkbox"] + label
    {
        margin-right: 20px !important;
    }

.divColor
{
    margin-right: 0px !important;
}

.SvWizard .row
{
    margin-right: 5px !important;
}

.highchartsalignment
{
    direction: initial;
}

.dirctionlr
{
    direction: rtl;
}

/*******25-9-17**********/
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    border-color: rgba(0,0,0,0.2) !important;
    border-left-width: 0px !important;
    border-right-width: 8px !important;
}

.lobibox
{
    font-family: 'Open sans', "JF Flat Regular", Tahoma !important;
}

    .lobibox .lobibox-header .btn-close
    {
        float: left !important;
    }

    .lobibox .lobibox-body .lobibox-body-text-wrapper
    {
        padding-left: 0 !important;
        padding-right: 10px;
        font-family: 'Open sans', "JF Flat Regular", Tahoma !important;
    }

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn
{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.animategif
{
    position: relative;
    top: 40%;
    right: 40%;
    left: inherit !important;
}

.skillinline .SVlabel
{
    margin-right: inherit !important;
    margin-left: 5px;
}

.employeeskinarae .skillinline
{
    padding-right: 5px !important;
    padding-left: 20px !important;
}

.repetericonarea
{
    right: 6px;
    left: inherit !important;
    border-radius: 0px 6px 6px 0 !important;
}

.employeeskinarae
{
    border-radius: 6px 0 0 6px !important;
}

.repetericonarea
{
    margin-bottom: 6px;
    left: inherit !important;
    right: 6px;
    border-left: 1px solid #eef9f8 !important;
    border-right: 1px solid #ccc !important;
}

.fancy-collapse-panel .panel-heading a
{
    text-align: right !important;
    padding: 12px 15px 12px 35px !important;
}

    .fancy-collapse-panel .panel-heading a:after
    {
        right: inherit !important;
        left: 20px;
    }

.borderright
{
    border-right: 0px dotted #cfd9de !important;
    border-left: 1px dotted #cfd9de;
}



.fc-icon-left-single-arrow:before
{
    content: "\f101" !important;
}

.fc-icon-right-single-arrow:before
{
    content: "\f100" !important;
}

.fc-toolbar .fc-left
{
    float: right !important;
}

.fc-toolbar .fc-right
{
    float: left !important;
}

.fc .fc-button-group > *
{
    float: right !important;
}

.fc .fc-toolbar > * > *
{
    float: right !important;
}

/*for slider added bt manaf 6-6-2018*/
/* Slider */
.slick-slide
{
    float: right !important;
} 
.slick-next {
  
    text-align: left !important;
    left: 0px !important;
}
[dir='rtl'] .slick-prev {
  
    text-align: right !important;
    right: 0px !important;
}
.slick-prev:before {
    content: "\f138" !important;
    font-family: FontAwesome !important;

}
.slick-next:before {
    content: "\f137" !important;
    font-family: FontAwesome !important;
}


.rgExpandCol input[type="submit"]
{
      
    border-right: 0px !important;
    border:0px !important;
    box-shadow:none !important;
    background-position: left 0 top 0 !important;
   
}


.info-box-icon
{
float:right !important;
}
.info-box-content {
   margin-left:inherit !important;
    margin-right: 90px;
}

/*7-10-18*/
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    border: 0;
    color: #fff;
    background: transparent;
    white-space: nowrap;
    padding: 0 !important;
}
.small-box .icon
{
        right: inherit !important;
        left:10px;
}

.small-box-footer:after {
    content: "\f0a8" !important;
    padding-right: 5px;
    padding-left: inherit !important;
}

.small-box .inner h3 
{
    background:none !important;
}